/* line 9, ../scss/estilo.scss */
.card-color1 {
  padding-left: 1rem;
  background-color: #6f96de;
}

/* line 9, ../scss/estilo.scss */
.card-color2 {
  padding-left: 1rem;
  background-color: #81f0b0;
}

/* line 9, ../scss/estilo.scss */
.card-color3 {
  padding-left: 1rem;
  background-color: #f46060;
}
